<%- include("partials/header") %>
<div style="text-align: center;">
    <h1>Bounty leaflet of One Piece</h1>
    <div class="container">
        <img src="https://cdn.majorcineplex.com/uploads/content/images/thumb_5151.jpg" style="width: 1000px;text-align: center;">
    </div>
    <br>
    <a class="btn btn-primary" role="button" href = "/BountyLeaflet">View Bounty leaflet</a>
</div>
<%- include("partials/footer") %>